# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Flutter SDK (local)
.flutter-sdk/

# Release builds & signing secrets
release/*.apk
release/*.aab
android/key.properties
